h1.blocktext 
{    margin-left: auto;
    margin-right: auto;
    width: 30em;
    margin-top: 1em;
    margin-bottom: 1em
}
p.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 30em
}

#footer {
    background-color: #003C57;
    margin-top: 4rem;
    color: #fff;
    padding: 4rem 3rem 4rem 3rem;
}